canvas {
  margin: auto;
  display: block;
}

h1 {
  font-size: 500%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Press Start 2P', cursive;
  color: #00FF00;
  text-shadow: 8px 8px #000000;
}

body {
  background-color: #483D8B;
}
