canvas {
  margin: auto;
  display: block;
}

h1 {
  font-size: 500%;
  margin: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Anton', sans-serif;
  color: #AF76FF;
  text-shadow: 8px 8px #573B80;
}

body {
  background-color: #FFF6B5;
}
